.gallery {
  display: block;

  article {
    height: 100%;
    position: relative;

    .scroll-area {
      text-transform: uppercase;
      @media only screen and (min-width: 992px) {
        max-height: 551px;
        padding: 0 0.5rem;
      }
    }

    > .nano-row {
      @media only screen and (max-width: 992px) {
        img {
          margin-bottom: 1rem;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      border: 1px solid var(--color-border);
    }

    .btn {
      width: 100%;
    }
  }
}
