main
{
	@include size(100%, x, auto, x);
}

section
{
	position: fixed;
	@include size(100%, x, 100%, x);
	@include position(0, x, x, 0);
}

#box_wheel
{
	position: fixed !important;
	z-index: -3;
	display: block !important;

	@include size(115px, x, 115px, x);
	@include position(x, x, 70px, 20px);
}

#box_wheel_base
{
	position: fixed;
	z-index: -5;
	@include position(x, x, 45px, 18px);
}

