section.home {
	.monitor {
		background-image: url("../imgs/e002.png");
		background-repeat: no-repeat;
		background-position: left bottom;
		width: 545px;
		height: 505px;
		position: relative;
		top: 0;
		left: 10%;

		.container {
			position: absolute;
			top: 240px;
			width: 390px;
			height: 237px;
			left: 70px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			h1 {
				font-size: 22px;
				text-transform: uppercase;
			}

			p {
				font-weight: 500;
				font-size: 15px;
				line-height: 1.3;
				margin-bottom: 0;
			}
		}

		&:hover {
			.screen-container {
				transform: rotate(180deg);
			}
		}
	}

	.gear {
		z-index: -1;
		position: absolute;
		&.g1 {
			left: -155px;
			top: 25px;
		}

		&.g2 {
			left: 350px;
			top: -52px;
		}

		&.g3 {
			left: -68px;
			top: -21px;
		}

		&.g4 {
			left: 16px;
			top: 110px;
		}

		&.g5 {
			left: 100px;
			top: 0px;
		}

		&.g6 {
			left: 259px;
			top: 80px;
		}
	}

	.screen-container {
		position: absolute;
		z-index: -2;
		right: 19px;
		bottom: 15px;
		transform: rotate(90deg);
		transform-origin: 55px 16px;
		transition: 500ms;
		
		.screen {
			position: absolute;
			width: 185px;
			height: 130px;
			border: 11px solid #222;
			background-color: #333;
			z-index: 0;
			right: 100%;
			top: -20%;
		}

		.bone {
			width: 60px;
			height: 30px;
			background-color: #000000;
		}

		.gear {
			z-index: 0;
			position: absolute;
			right: -20px;
			top: -10px;
		}
	}
}

// #home
// {
// 	p
// 	{
// 		font-size: 11pt;
// 	}

// 	.container
// 	{
// 		position: relative;
// 		z-index: 5;
// 		@include size(550px, x, 500px, x);
// 		@include position(-60px, x, x, 20%);

// 		@media screen and (max-height: 700px){ top: -120px; }

// 		&:hover > .preview
// 		{
// 			transform: rotate(360deg);
// 		}

// 		.preview
// 		{
// 			position: relative;
// 			z-index: -1;
// 			@include position(353px, -460px, x, x);
// 			transform: rotate(270deg);
// 			transform-origin: 15% 69%;
// 			transition: 500ms;
// 		}

// 		.wheel
// 		{
// 			position: absolute !important;
// 			z-index: -2;

// 			display: block !important;
// 		}
// 	}
// }

// .txt
// {
// 	font-size: 12pt;
// 	position: absolute;
// 	overflow-y: auto;
// 	padding: 15px;
// 	letter-spacing: 0;
// 	@include size(348px, x, 190px, x);
// 	@include position(245px, x, x, 76px);

// 	h2
// 	{
// 		font-family: $f_title;
// 	    font-size: 16pt;
// 	    color: #381707;
// 	    margin-top: 48px;
// 	}

// 	small
// 	{
// 	    display: block;
// 	    color: #2f1e16;
// 	    letter-spacing: 0;
// 	    font-size: 9.5pt;
// 	    font-weight: bold;
// 	}
// }

// #info_03 h1
// {
// 	font-size: 22pt;
// }

// #arrow_l,
// #arrow_r
// {
// 	position: absolute;
// 	top: 499px;
// 	display: block;
// 	@include size(103px, x, 72px, x);
// 	cursor: pointer;

// 	background-image: url('../img/btn.png');
// 	background-repeat: no-repeat;
// }

// #arrow_l
// {
// 	left: 270px;
// 	background-position: -5px -78px;
// 	&:hover
// 	{
// 		background-position: -5px -3px;
// 	}
// }
// #arrow_r
// {
// 	left: 400px;
// 	background-position: -113px -78px;
// 	&:hover
// 	{
// 		background-position: -113px -3px;
// 	}
// }
